{
  "version": "7",
  "about": "This is a Prepros (https://prepros.io) configuration file. You can commit this file to a git repo to backup and sync project configurations.",
  "config": {
    "proxy": {
      "enable": false,
      "target": "",
      "useLocalAssets": false
    },
    "reload": {
      "enable": true,
      "delay": 0,
      "animate": true,
      "afterUpload": false
    },
    "sync": {
      "enable": true,
      "mouse": true,
      "keyboard": true,
      "form": true,
      "scroll": true
    },
    "watcher": {
      "enable": true,
      "maxFiles": 2000,
      "usePolling": false,
      "pollingInterval": 500,
      "extensions": [
        ".html",
        ".htm",
        ".php",
        ".css",
        ".jpg",
        ".png",
        ".js"
      ],
      "ignore": {
        "patterns": [
          ".*",
          "wp-admin",
          "wp-includes",
          "node_modules",
          "Prepros Export",
          "bower_components"
        ],
        "exceptions": []
      }
    },
    "exporter": {
      "ignore": {
        "patterns": [
          ".*",
          "desktop.ini",
          "prepros.cfg",
          "node_modules",
          "Prepros Export",
          "prepros.config",
          "prepros-6.config",
          "*-original.jpg",
          "*-original.jpeg",
          "*-original.png",
          "*-original.svg",
          "*.scss",
          "*.sass",
          "*.less",
          "*.pug",
          "*.jade",
          "*.styl",
          "*.haml",
          "*.slim",
          "*.coffee",
          "*.kit",
          "*.turf",
          "*.ts",
          "/_app",
          "README.md",
          "README.html",
          "_app",
          ".gitignore",
          "*.db"
        ],
        "exceptions": []
      }
    },
    "uploader": {
      "remotePath": "/bulenkov.mycapitalland.ru",
      "timeout": 10000,
      "autoUpload": false,
      "reuseConnection": true,
      "connectionType": "ftp",
      "history": [
        {
          "file": "index.html",
          "mtimeMs": 1597213192912.336,
          "date": "2020-08-12T06:23:59.197Z"
        },
        {
          "file": "css/styles.min.css",
          "mtimeMs": 1597214200684.271,
          "date": "2020-08-12T06:36:52.855Z"
        },
        {
          "file": "fonts/GilroyBlack.eot",
          "mtimeMs": 1596947840000,
          "date": "2020-08-09T09:47:31.845Z"
        },
        {
          "file": "fonts/GilroyBlack.svg",
          "mtimeMs": 1596947840000,
          "date": "2020-08-09T09:47:33.029Z"
        },
        {
          "file": "fonts/GilroyBlack.ttf",
          "mtimeMs": 1596947840000,
          "date": "2020-08-09T09:47:33.868Z"
        },
        {
          "file": "fonts/GilroyBlack.woff",
          "mtimeMs": 1596947840000,
          "date": "2020-08-09T09:47:34.693Z"
        },
        {
          "file": "fonts/GilroyBlack.woff2",
          "mtimeMs": 1596947840000,
          "date": "2020-08-09T09:47:36.043Z"
        },
        {
          "file": "fonts/GilroyBold.eot",
          "mtimeMs": 1596947876000,
          "date": "2020-08-09T09:47:37.473Z"
        },
        {
          "file": "fonts/GilroyBold.svg",
          "mtimeMs": 1596947876000,
          "date": "2020-08-09T09:47:38.816Z"
        },
        {
          "file": "fonts/GilroyBold.ttf",
          "mtimeMs": 1596947876000,
          "date": "2020-08-09T09:47:39.682Z"
        },
        {
          "file": "fonts/GilroyBold.woff",
          "mtimeMs": 1596947876000,
          "date": "2020-08-09T09:47:40.401Z"
        },
        {
          "file": "fonts/GilroyBold.woff2",
          "mtimeMs": 1596947876000,
          "date": "2020-08-09T09:47:41.172Z"
        },
        {
          "file": "fonts/GilroyRegular.eot",
          "mtimeMs": 1596888356000,
          "date": "2020-08-09T09:47:42.061Z"
        },
        {
          "file": "fonts/GilroyRegular.svg",
          "mtimeMs": 1596888354000,
          "date": "2020-08-09T09:47:43.415Z"
        },
        {
          "file": "fonts/GilroyRegular.ttf",
          "mtimeMs": 1596888354000,
          "date": "2020-08-09T09:47:44.246Z"
        },
        {
          "file": "fonts/GilroyRegular.woff",
          "mtimeMs": 1596888354000,
          "date": "2020-08-09T09:47:44.947Z"
        },
        {
          "file": "fonts/GilroyRegular.woff2",
          "mtimeMs": 1596888356000,
          "date": "2020-08-09T09:47:45.629Z"
        },
        {
          "file": "img/backs/footer.png",
          "mtimeMs": 1597040286853.4077,
          "date": "2020-08-10T06:19:33.262Z"
        },
        {
          "file": "img/backs/for.png",
          "mtimeMs": 1597040290132.7678,
          "date": "2020-08-12T05:55:45.031Z"
        },
        {
          "file": "img/backs/main.png",
          "mtimeMs": 1597040296731.0862,
          "date": "2020-08-10T06:19:34.471Z"
        },
        {
          "file": "img/icons/calendar.png",
          "mtimeMs": 1597040308791.3752,
          "date": "2020-08-10T06:19:35.871Z"
        },
        {
          "file": "img/icons/envelope.png",
          "mtimeMs": 1597040311163.2715,
          "date": "2020-08-10T06:19:36.198Z"
        },
        {
          "file": "img/icons/gps.png",
          "mtimeMs": 1597040314615.8354,
          "date": "2020-08-10T06:19:36.518Z"
        },
        {
          "file": "img/icons/tube.png",
          "mtimeMs": 1597040317429.0151,
          "date": "2020-08-10T06:19:36.826Z"
        },
        {
          "file": "img/images/benefits.png",
          "mtimeMs": 1596965045790.5105,
          "date": "2020-08-09T09:47:58.024Z"
        },
        {
          "file": "img/images/logo.png",
          "mtimeMs": 1597040327306.6323,
          "date": "2020-08-10T06:19:37.824Z"
        },
        {
          "file": "img/images/nikolay-main.png",
          "mtimeMs": 1597040331853.6685,
          "date": "2020-08-10T06:19:38.232Z"
        },
        {
          "file": "img/images/nikolay.png",
          "mtimeMs": 1597040334625.849,
          "date": "2020-08-10T06:19:38.670Z"
        },
        {
          "file": "js/scripts.min.js",
          "mtimeMs": 1597207786273.105,
          "date": "2020-08-12T04:59:13.219Z"
        },
        {
          "file": "favicon.ico",
          "mtimeMs": 1585921556499.0002,
          "date": "2020-08-09T09:48:43.723Z"
        },
        {
          "file": "favicon.png",
          "mtimeMs": 1585921575154.585,
          "date": "2020-08-09T09:48:44.194Z"
        },
        {
          "file": "img/images/laptop.png",
          "mtimeMs": 1597040361661.799,
          "date": "2020-08-10T06:19:37.512Z"
        },
        {
          "file": "img/images/rev.png",
          "mtimeMs": 1597043530587.7305,
          "date": "2020-08-10T07:13:41.357Z"
        },
        {
          "file": "img/backs/benefits-1.png",
          "mtimeMs": 1597211701670.2864,
          "date": "2020-08-12T05:55:43.469Z"
        },
        {
          "file": "img/backs/benefits-2.png",
          "mtimeMs": 1597211704855.2705,
          "date": "2020-08-12T05:55:43.841Z"
        },
        {
          "file": "img/backs/for-item.png",
          "mtimeMs": 1597211709253.4216,
          "date": "2020-08-12T05:55:44.557Z"
        },
        {
          "file": "img/icons/benefit-1.png",
          "mtimeMs": 1597211718227.0818,
          "date": "2020-08-12T05:55:46.080Z"
        },
        {
          "file": "img/icons/benefit-2.png",
          "mtimeMs": 1597211720844.6648,
          "date": "2020-08-12T05:55:46.416Z"
        },
        {
          "file": "img/backs/modal.png",
          "mtimeMs": 1597040298524.3904,
          "date": "2020-08-12T06:36:53.575Z"
        }
      ]
    },
    "packages": {
      "createPackageLock": true
    },
    "images": {
      "preserveOriginal": true
    },
    "tasks": {
      "autoprefixer": {
        "cascade": true,
        "add": true,
        "remove": true,
        "supports": true,
        "flexbox": true,
        "grid": "autoplace",
        "browsers": [
          "> 2%",
          "not dead",
          "last 100 versions"
        ],
        "sourceMap": false
      },
      "babel": {
        "sourceMap": false,
        "presets": {
          "@babel/preset-env": {
            "enable": true,
            "options": {
              "targets": [
                "> 2%",
                "not dead"
              ],
              "preserveImports": false,
              "polyfills": false
            }
          },
          "@babel/preset-react": true,
          "@babel/preset-flow": false
        },
        "plugins": {
          "@babel/plugin-proposal-class-properties": false,
          "@babel/plugin-proposal-decorators": {
            "enable": false,
            "options": {
              "decoratorsBeforeExport": true
            }
          },
          "@babel/plugin-proposal-export-namespace-from": false,
          "@babel/plugin-proposal-function-sent": false,
          "@babel/plugin-proposal-nullish-coalescing-operator": false,
          "@babel/plugin-proposal-numeric-separator": false,
          "@babel/plugin-proposal-optional-chaining": false,
          "@babel/plugin-proposal-private-methods": false,
          "@babel/plugin-proposal-throw-expressions": false
        },
        "customPresets": [],
        "customPlugins": []
      },
      "bundle-js": {
        "sourceMap": false,
        "exclude": [
          "node_modules",
          "bower_components"
        ],
        "devMode": true,
        "globals": [],
        "externals": [],
        "babel": {
          "enable": true,
          "options": {
            "sourceMap": false,
            "presets": {
              "@babel/preset-env": {
                "enable": true,
                "options": {
                  "targets": [
                    "> 2%",
                    "not dead"
                  ],
                  "preserveImports": false,
                  "polyfills": false
                }
              },
              "@babel/preset-react": true,
              "@babel/preset-flow": false
            },
            "plugins": {
              "@babel/plugin-proposal-class-properties": false,
              "@babel/plugin-proposal-decorators": {
                "enable": false,
                "options": {
                  "decoratorsBeforeExport": true
                }
              },
              "@babel/plugin-proposal-export-namespace-from": false,
              "@babel/plugin-proposal-function-sent": false,
              "@babel/plugin-proposal-nullish-coalescing-operator": false,
              "@babel/plugin-proposal-numeric-separator": false,
              "@babel/plugin-proposal-optional-chaining": false,
              "@babel/plugin-proposal-private-methods": false,
              "@babel/plugin-proposal-throw-expressions": false
            },
            "customPresets": [],
            "customPlugins": []
          }
        },
        "css": {
          "enable": true
        },
        "fonts": {
          "enable": true
        }
      },
      "coffeescript": {
        "header": false,
        "bare": false,
        "sourceMap": false
      },
      "command": {
        "command": "",
        "rootDir": ""
      },
      "concat-js": {
        "sourceMap": false,
        "rootDir": ""
      },
      "copy": {
        "sourceMap": false
      },
      "dart-sass": {
        "indentType": "space",
        "indentWidth": 2,
        "linefeed": "lf",
        "sourceMap": false
      },
      "haml": {
        "doubleQuoteAttributes": true
      },
      "jpg": {
        "quality": 90
      },
      "less": {
        "javascriptEnabled": false,
        "strictImports": false,
        "insecure": false,
        "math": "always",
        "strictUnits": false,
        "dumpLineNumbers": false,
        "sourceMap": false
      },
      "markdown": {
        "githubFlavored": true,
        "wrapWithHtml": false
      },
      "minify-css": {
        "sourceMap": false
      },
      "minify-html": {
        "caseSensitive": false,
        "collapseBooleanAttributes": true,
        "collapseInlineTagWhitespace": false,
        "collapseWhitespace": true,
        "conservativeCollapse": false,
        "decodeEntities": false,
        "html5": true,
        "includeAutoGeneratedTags": true,
        "keepClosingSlash": false,
        "minifyCSS": true,
        "minifyJS": true,
        "preserveLineBreaks": false,
        "preventAttributesEscaping": false,
        "processConditionalComments": false,
        "removeAttributeQuotes": false,
        "removeComments": true,
        "removeEmptyAttributes": false,
        "removeEmptyElement": false,
        "removeOptionalTags": false,
        "removeRedundantAttributes": false,
        "removeScriptTypeAttributes": false,
        "removeStyleLinkTypeAttributes": false,
        "removeTagWhitespace": false,
        "sortAttributes": false,
        "sortClassName": false,
        "useShortDoctype": true
      },
      "minify-js": {
        "parse": {
          "bare_returns": false
        },
        "compress": {
          "arrows": true,
          "arguments": false,
          "booleans": true,
          "booleans_as_integers": false,
          "collapse_vars": true,
          "comparisons": true,
          "computed_props": true,
          "conditionals": true,
          "dead_code": true,
          "directives": true,
          "drop_console": false,
          "drop_debugger": true,
          "evaluate": true,
          "expression": false,
          "global_defs": [],
          "hoist_funs": false,
          "hoist_props": true,
          "hoist_vars": false,
          "if_return": true,
          "inline": 3,
          "join_vars": true,
          "keep_fargs": true,
          "keep_infinity": false,
          "loops": true,
          "negate_iife": true,
          "properties": true,
          "pure_funcs": [],
          "pure_getters": false,
          "reduce_vars": true,
          "sequences": true,
          "side_effects": true,
          "switches": true,
          "top_retain": [],
          "typeofs": true,
          "unsafe": false,
          "unsafe_arrows": false,
          "unsafe_comps": false,
          "unsafe_Function": false,
          "unsafe_math": false,
          "unsafe_proto": false,
          "unsafe_regexp": false,
          "unsafe_undefined": false,
          "unused": true
        },
        "mangle": {
          "eval": false,
          "reserved": []
        },
        "output": {
          "ascii_only": false,
          "braces": false,
          "comments": "none",
          "inline_script": true,
          "keep_numbers": false,
          "keep_quoted_props": false,
          "preamble": null,
          "quote_keys": false,
          "quote_style": 0,
          "semicolons": true,
          "shebang": true,
          "webkit": false,
          "wrap_iife": false,
          "wrap_func_args": true
        },
        "sourceMap": false,
        "toplevel": false,
        "ie8": false,
        "keep_classnames": false,
        "keep_fnames": false,
        "safari10": false
      },
      "node-sass": {
        "indentType": "space",
        "indentWidth": 2,
        "linefeed": "lf",
        "outputStyle": "expanded",
        "precision": 10,
        "sourceMap": false,
        "sourceComments": false
      },
      "png": {
        "quality": 90
      },
      "postcss-import": {
        "ignoreKeywords": [],
        "sourceMap": false
      },
      "postcss-preset-env": {
        "stage": 2,
        "browsers": [
          "> 2%",
          "not dead"
        ],
        "sourceMap": false
      },
      "pug": {
        "pretty": true
      },
      "slim": {
        "indent": "space",
        "indentSize": 2,
        "pretty": true
      },
      "stylus": {
        "useNib": false,
        "sourceMap": false,
        "linenos": true
      },
      "svg": {
        "cleanupAttrs": true,
        "removeDoctype": true,
        "removeXMLProcInst": true,
        "removeComments": true,
        "removeMetadata": true,
        "removeTitle": true,
        "removeDesc": true,
        "removeUselessDefs": true,
        "removeEditorsNSData": true,
        "removeEmptyAttrs": true,
        "removeHiddenElems": true,
        "removeEmptyText": true,
        "removeEmptyContainers": true,
        "removeViewBox": false,
        "cleanupEnableBackground": true,
        "convertStyleToAttrs": true,
        "convertColors": true,
        "convertPathData": true,
        "convertTransform": true,
        "removeUnknownsAndDefaults": true,
        "removeNonInheritableGroupAttrs": true,
        "removeUselessStrokeAndFill": true,
        "removeUnusedNS": true,
        "cleanupIDs": true,
        "cleanupNumericValues": true,
        "moveElemsAttrsToGroup": true,
        "moveGroupAttrsToElems": true,
        "collapseGroups": true,
        "removeRasterImages": false,
        "mergePaths": true,
        "convertShapeToPath": true,
        "sortAttrs": true,
        "removeDimensions": true
      },
      "turf": {
        "rootDir": ""
      },
      "typescript": {
        "allowJs": false,
        "allowSyntheticDefaultImports": true,
        "allowUmdGlobalAccess": false,
        "allowUnreachableCode": false,
        "allowUnusedLabels": false,
        "alwaysStrict": false,
        "charset": "utf8",
        "checkJs": false,
        "declaration": false,
        "disableSizeLimit": false,
        "downlevelIteration": false,
        "emitBOM": false,
        "emitDecoratorMetadata": false,
        "experimentalDecorators": false,
        "forceConsistentCasingInFileNames": false,
        "importHelpers": false,
        "jsx": "React",
        "keyofStringsOnly": false,
        "lib": [],
        "maxNodeModuleJsDepth": 0,
        "module": "ES2015",
        "moduleResolution": "NodeJs",
        "newLine": "LineFeed",
        "noFallthroughCasesInSwitch": false,
        "noImplicitAny": false,
        "noImplicitReturns": false,
        "noImplicitThis": false,
        "noStrictGenericChecks": false,
        "noUnusedLocals": false,
        "noUnusedParameters": false,
        "noImplicitUseStrict": false,
        "noLib": false,
        "noResolve": false,
        "preserveConstEnums": false,
        "jsxFactory": "React.createElement",
        "removeComments": false,
        "skipLibCheck": false,
        "sourceMap": false,
        "strict": false,
        "strictFunctionTypes": false,
        "strictBindCallApply": false,
        "strictNullChecks": false,
        "strictPropertyInitialization": false,
        "suppressExcessPropertyErrors": false,
        "suppressImplicitAnyIndexErrors": false,
        "target": "ES3",
        "resolveJsonModule": false,
        "esModuleInterop": false,
        "useDefineForClassFields": false
      }
    },
    "fileTypes": {
      "sass": {
        "extensions": [
          ".scss",
          ".sass"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "dart-sass",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "scss",
              "replaceWith": "css"
            },
            {
              "segment": "sass",
              "replaceWith": "css"
            }
          ]
        }
      },
      "less": {
        "extensions": [
          ".less"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "less",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "less",
              "replaceWith": "css"
            }
          ]
        }
      },
      "pug": {
        "extensions": [
          ".pug",
          ".jade"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "pug",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "pug",
              "replaceWith": "html"
            }
          ]
        }
      },
      "css": {
        "extensions": [
          ".css"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "postcss-import",
            "enable": false
          },
          {
            "task": "postcss-preset-env",
            "enable": false
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "javascript": {
        "extensions": [
          ".js",
          ".jsx"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "concat-js",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": true
          }
        ],
        "output": {
          "extension": ".js",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "stylus": {
        "extensions": [
          ".styl"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "stylus",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "stylus",
              "replaceWith": "css"
            },
            {
              "segment": "styl",
              "replaceWith": "css"
            }
          ]
        }
      },
      "markdown": {
        "extensions": [
          ".md",
          ".markdown",
          ".mkd"
        ],
        "autoCompile": false,
        "tasks": [
          {
            "task": "markdown",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "markdown",
              "replaceWith": "html"
            }
          ]
        }
      },
      "haml": {
        "extensions": [
          ".haml"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "haml",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "haml",
              "replaceWith": "html"
            }
          ]
        }
      },
      "slim": {
        "extensions": [
          ".slim"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "slim",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "slim",
              "replaceWith": "html"
            }
          ]
        }
      },
      "coffeescript": {
        "extensions": [
          ".coffee"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "coffeescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "coffee-script",
              "replaceWith": "js"
            },
            {
              "segment": "coffeescript",
              "replaceWith": "js"
            },
            {
              "segment": "coffee",
              "replaceWith": "js"
            }
          ]
        }
      },
      "turf": {
        "extensions": [
          ".turf",
          ".kit"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "turf",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "turf",
              "replaceWith": "html"
            }
          ]
        }
      },
      "typescript": {
        "extensions": [
          ".ts",
          ".tsx"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "typescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "typescript",
              "replaceWith": "js"
            },
            {
              "segment": "ts",
              "replaceWith": "js"
            }
          ]
        }
      },
      "jpg": {
        "extensions": [
          ".jpg",
          ".jpeg"
        ],
        "tasks": [
          {
            "task": "jpg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".jpg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "png": {
        "extensions": [
          ".png"
        ],
        "tasks": [
          {
            "task": "png",
            "enable": true
          }
        ],
        "output": {
          "extension": ".png",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "svg": {
        "extensions": [
          ".svg"
        ],
        "tasks": [
          {
            "task": "svg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".svg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      }
    },
    "files": [
      {
        "file": "_app/_js/scripts.js",
        "config": {
          "autoCompile": true,
          "customOutput": "js\\scripts.min.js"
        }
      },
      {
        "file": "_app/index.pug",
        "config": {
          "customOutput": "index.html"
        }
      },
      {
        "file": "_app/styl/styles.min.styl",
        "config": {
          "customOutput": "css\\styles.min.css"
        }
      },
      {
        "file": "img/backs/about-bg.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 78816,
          "optimized": true
        }
      },
      {
        "file": "img/backs/benefits-1.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 74563,
          "optimized": true
        }
      },
      {
        "file": "img/backs/benefits-2.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 19301,
          "optimized": true
        }
      },
      {
        "file": "img/backs/footer.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 66237,
          "optimized": true
        }
      },
      {
        "file": "img/backs/for-bg.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 794908,
          "optimized": true
        }
      },
      {
        "file": "img/backs/for-item.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 11623,
          "optimized": true
        }
      },
      {
        "file": "img/backs/for.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 27700,
          "optimized": true
        }
      },
      {
        "file": "img/backs/main.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 240607,
          "optimized": true
        }
      },
      {
        "file": "img/backs/modal-bg.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 51356,
          "optimized": true
        }
      },
      {
        "file": "img/icons/about-1.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 23309,
          "optimized": true
        }
      },
      {
        "file": "img/icons/about-2.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 33314,
          "optimized": true
        }
      },
      {
        "file": "img/icons/benefit-1.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 8272,
          "optimized": true
        }
      },
      {
        "file": "img/icons/benefit-2.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 10575,
          "optimized": true
        }
      },
      {
        "file": "img/icons/calendar.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 774,
          "optimized": true
        }
      },
      {
        "file": "img/icons/envelope.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 683,
          "optimized": true
        }
      },
      {
        "file": "img/icons/gps.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 894,
          "optimized": true
        }
      },
      {
        "file": "img/icons/tube.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 828,
          "optimized": true
        }
      },
      {
        "file": "img/images/benefits.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 239575
        }
      },
      {
        "file": "img/images/laptop.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 69064,
          "optimized": true
        }
      },
      {
        "file": "img/images/logo.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 11744,
          "optimized": true
        }
      },
      {
        "file": "img/images/nikolay-main.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 432884,
          "optimized": true
        }
      },
      {
        "file": "img/images/nikolay.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 361537,
          "optimized": true
        }
      },
      {
        "file": "img/images/rev.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 147667
        }
      }
    ]
  }
}
