header
	//- a(href="https://mastervision.su", target="_blank" onclick="return false")
	img.header-logo(src=path+"img/images/logo.png", alt="Логотип")
	.contacts
		.contact.contact-email
			span Напишите нам:
			a(href="mailto:info@mycapitalland.ru" target="_blank") info@mycapitalland.ru
		.contact.contact-tel
			span Позвоните нам:
			a(href="callto:8(800)700-95-98" target="_blank") 8(800)700-95-98