footer
	.container
		.contacts-footer
			.row
				.col-md-4.col-sm-4
					.contact.contact-footer.contact-email
						span Напишите нам:
						a(href="mailto:info@mycapitalland.ru" target="_blank") info@mycapitalland.ru
				.col-md-3.col-sm-3
					.contact.contact-footer.contact-tel
						span Позвоните нам:
						a(href="callto:8(800)700-95-98" target="_blank") 8(800)700-95-98
				.col-md-5.col-sm-5
					.contact.contact-footer.contact-adress
						span Наш адрес:
						span Москва, ул. Преображенская 24, корп. 1