#video
	padding 170px 0 90px
	background-color: #f0f0f0
.laptop-wrapper-video
	margin-top: 20px
	width 100%
	max-width 555px
	margin 20px 25px 90px 0
	float left
.video-text
	margin-bottom: 20px
	span
		font-family: Gd
		font-weight: bold
	&:last-child
		margin-bottom: 0
	// &:nth-child(3)
	// 	margin 30px 0