#for
	padding 90px 0 40px
	background-color: #F5F4F4
	background-image url('../img/backs/for.png')
	background-repeat no-repeat
	background-position: center bottom
	background-size: cover
	position relative
	z-index: 28
.for-item
	background-color: #1A739D
	background-image url('../img/backs/for-item.png')
	background-repeat no-repeat
	background-position: center
	padding: 20px
	position relative
	display table
	width 100%
	max-width 371px
	margin 0 auto 50px
	border-radius: 7px
	height 200px
	&-title
		position absolute
		left 35px
		top -15px
		font-size: 80px
		font-family: Gk
		font-weight: 900
		line-height: 30px
		color #283982
	&-text
		display table-cell
		vertical-align middle
		color #fff
		text-align center
		font-size: 20px