.benefits-1
	padding 40px 0 0px
	position relative
	z-index 30
	margin-top: -40px
	&:before
		content: ''
		display block
		position absolute
		top 0
		left 0
		right 0
		bottom: 0
		height 120%
		width 100%
		background-image url(../img/backs/benefits-1.png)
		background-repeat no-repeat
		background-position: center
		background-size: cover
		z-index 0
.benefit
	padding 40px 40px 40px 70px
	background-color #fff
	border-radius: 7px;
	box-shadow: 0px 0px 33.44px 4.56px rgba(45, 45, 47, 0.15);
	width 100%
	max-width: 358px;
	margin 0 auto 45px
	position relative

	&:before
		content: '+'
		display block
		position absolute
		width 50px
		height 50px
		border-radius: 100px
		background-color: #206e9a
		text-align center
		font-size: 30px
		font-family: Gd
		font-weight: bold
		line-height: 50px
		top -15px
		left 15px
		color #fff
	&-5
		margin-top: -30px
.benefits-img
	display block
	width 400px
	margin 0 auto
	position relative
	left -20px
.benefits-2
	padding 120px 0 60px
	background-color #fff
	background-image url(../img/backs/benefits-2.png)
	background-repeat no-repeat
	background-position: center bottom
	background-size: cover
	position relative
	z-index 29
.benefit-more
	border-radius: 7px;
	box-shadow: 0px 0px 33.44px 4.56px rgba(45, 45, 47, 0.15);
	background-color #fff
	width 100%
	max-width 530px
	margin 68px auto 50px
	padding 190px 30px 30px
	min-height 589px
	position relative
	&-img
		position absolute
		display block
		left 0
		right 0
		top -138px
		margin 0 auto
		width 100%
		max-width 320px
	&-list
		li
			list-style: none