section#video
	.container
		.row
			.col-md-6
				.laptop-wrapper.laptop-wrapper-video
					.video-wrapper
						iframe(src="https://youtube.com/embed/aZnnJ5ALCGo?modestbranding=1&autoplay=1&mute=1" allowfullscreen)
			.col-md-6
				+gt('','Путь успеха: от бедного механика – до миллионера')
				p.video-text
					span 2003 год. 
					| Институт. Я «заболел» автогонками, участвовал в соревнованиях и даже работал механиком на чемпионате по ралли.
				p.video-text
					span 2006 год. 
					| Женился и понял, что на зарплату механика не проживёшь и вместе с другом открыл службу эвакуации с 2-мя эвакуаторами и раскрученным сайтом. Чуть позже мы открыли макетную мастерскую с невиданными тогда 3D-принтерами. Дело пошло, и первый бизнес мы продали.
				p.video-text
					span 2009 год. 
					| Мировой кризис. Бизнес рухнул. Рождение сына вдохновляло меня. Я пошёл в торговлю, устроился менеджером по продаже автомобилей и начал зарабатывать столько же, сколько и во времена бизнеса – в среднем, 150 тысяч руб. в месяц.
				p.video-text
					span 2010-2019 годы. 
					| Я пробовал разные способы заработка – открывал бизнес, был риэлтором, бизнес-тренером, топ-менеджером, но «пробить планку» в 200 тыс. руб. в месяц не мог. Некоторое время я жил на полмиллиона в месяц. Доход мечты особо не изменил мою жизнь, а когда он снизился, я столкнулся с личным кризисом – я стал тратить больше, чем зарабатываю. И когда я залез в долги, то понял, что неправильно распоряжаюсь деньгами, и финансовый успех не значит много зарабатывать.
				p.video-text Из книг по финансовой грамотности я знал, что нужно потратить несколько лет на создание капитала, управляя имеющимися доходами, а потом перейти на пассивную прибыль. Это выгоднее сценария, в котором нужно постоянно и с каждым годом всё больше работать, чтобы жить по-человечески, а в старости рассчитывать лишь на пенсию и детей.
				p.video-text
					span 2019 год. 
					| Стал миллионером всего за год и впервые за трудовую деятельность обрёл капитал, избавившись от проблемы нехватки денег. Чтобы достичь этого, я подробно изучил на практике финансовую грамотность, бухгалтерию, финучёт. И создал практический курс по финансам – коучинг-марафон «1 час в будущее».
				p.video-text
					span 2020 год. 
					| Я – успешный тренер по личным финансам. Я с ужасом и жалостью наблюдаю за людьми, которые вынуждены добывать деньги ценой своего здоровья. Я обучаю всех желающих тому, как за 5-7 лет обрести финансовую независимость.