section#video
	.container
		.row
			.col-md-6
				.laptop-wrapper.laptop-wrapper-video
					.video-wrapper
						iframe(src="https://youtube.com/embed/?modestbranding=1&autoplay=1&mute=1" allowfullscreen)
			.col-md-6
				+gt('','Посмотрите наше видео')
				p.video-text «Если спросить любого человека, какие он знает способы приумножения сбережений, то, скорее всего, он вспомнит про банковские вклады и, возможно, но не факт, про фондовые биржи с ценными бумагами и валютой. А если ещё уточнить его отношение к этим вариантам инвестиций, то он, с вероятностью 99%, ответит, что вклады – это невыгодно, так как процентная ставка не покрывает уровень инфляции. А про то, чтобы вложить деньги в фондовую биржу, речи быть не может, так как это большой риск. При этом понятие «ПИФ», вообще, покажется просто инопланетным словом
				p.video-text Почему так?
				p.video-text Всё просто: 90% населения, как это ни ужасно, страдает от финансовой безграмотности. Люди мучаются из-за, порой, кабальной зависимости от зарплаты и при этом не хотят/боятся/не знают, как обрести более стабильные и достойные источники дохода