mixin for(cl,h4,p)
	.col-md-4
		.for-item(class=cl)
			h4.for-item=h4
			p.for-item-text=p

section#for
	.container
		+gt('general-title-center','Для кого этот мастер-класс')
		.row
			+for('for-item-1','1','Хочет разобраться, как создавать и увеличивать личный капитал')
			+for('for-item-2','2','Понимает, что пенсия - не вариант, надо крутиться самостоятельно')
			+for('for-item-3','3','Не хочет открывать свой бизнес, брать кредиты и сжигать мосты')
		.row
			+for('for-item-4','4','Планирует выйти на пассивный доход в течение 5-10 лет')
			+for('for-item-5','5','Хочет научится грамотно управлять своими активами')
			+for('for-item-6','6','Ставит перед собой амбициозные цели и достигает их')