section#author
	.container
		.author
			h4.author-title Об авторе
				small Буленков Николай Владимирович, 37 лет
			ul.author-list
				li Бизнесмен, инвестор
				li Член Клуба Миллионеров
				li Тренер по личным финансам
				li Руководитель Обучающего цифрового агентства недвижимости «33 слона» в составе Холдинга MailRu Group
			.author-img
				img(src=path+"img/images/nikolay.png", alt="Николай Буленков")
		.row
			.col-md-6
				.author-about.author-about-1
					p.author-about-text
						span Награды:
					ul.author-about-list
						li - Лучший сотрудник года (Агентство недвижимости «ЮСИН»)
						li - Сертификат «Серебряный риэлтор»
						li - Сертификат Международной Ассоциации Успешных Агентов за создание полезного обучающего продукта
				.author-about.author-about-2
					p.author-about-text 
						span Сертификат от Международной Ассоциации Агентов 
						| по недвижимости за создание самого эффективного обучающего продукта на рынке обучения персонала в сфере недвижимости "Симулятор сделки"
					p.author-about-text Образование: МГТУ им. Н.Э. Баумана, высший балл
			.col-md-6
				.author-about.author-about-3
					p.author-about-text Имеет обширный опыт работы в сфере продаж (тренер по продажам, РОП, директор по продажам)
					p.author-about-text За 3 года в должности директора по продажам Like Центра Аяза Шабутдинова увеличил выручку московского департамента с 14 до 50 млн. рублей в месяц
					p.author-about-text Его методика помогла более 2500 соискателям узнать, как увеличить доход
					p.author-about-text Создатель самого эффективного обучающего продукта для персонала в сфере недвижимости «Симулятор сделки»
					p.author-about-text В 2019 году нанял и обучил 897 менеджеров по продажам в сфере недвижимости по собственной технологии потокового найма персонала